* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  flex-direction: row;

}
.forms {
  width: 80%;
  height: 44%;
  margin: 80px 0 0 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border: 3px solid rgba(125,73,160, 0.8);
  border-radius: 10px;
}
.form-calc-BMI {
  width: 35%;
  height: auto;
  padding: 20px;
  margin: 20px 0 20px 0;
  border: 2px solid rgba(125,73,160, 0.9);
  border-radius: 10px;
}
.form-calc-BMI-title {
  font-size: 27px;
  font-weight: 900;
  color: rgba(80, 11, 126, 0.8);
  margin: 0px 0 20px 0;
  border-radius: 10px;
}
.BMI {
  animation: bmi 1s infinite;
  
}
.BMI:hover {
  transform: scale(1.2);
}
@keyframes bmi {
  25%  {transform: rotate(-10deg)}
  50%  {transform: rotate(10deg)}
  75%  {transform: rotate(-10deg)}
  100% {transform: rotate(10deg)}
}
.input {
  width: 80%;
  height: 35px;
  margin: 0px 0 10px 0;
  color: #4c88c5;
  border-radius: 3px;
  border: 1px solid rgb(85, 3, 161);
  transition: all 0.5s;
}
.input:focus {
  outline: none;
  border: 1px solid #05396d;
}
input:hover {
  border: 1px solid #034994;
  transform:  scale(1.01)
}
/*  */
/* .notification-Error {
  color: red;
} */
/*  */
.buttons {
  width: auto;
  margin: 10px 0px;
  padding: 2px;
  transition: all 0.8s;
}
.button {
  width: 40%;
  height: 32px;
  color: #e2e8ee;
  background-color: #60209c;
  border-radius: 3px;
  border: 1px solid rgb(85, 3, 161);


  cursor: pointer;
  transition: all 0.3s ease;
}
.button:focus {
  outline: none;
  border: 1px solid #05396d;
  
}
.button:hover {
  color: #05396d;
  background-color: #e2e8ee;
  border: 1px solid rgba(13, 51, 93, 0.2);
  box-shadow: 0 0 6px rgba(13, 51, 93, 0.3);
}


/*  */
.data-result {
  width: 60%;
  height: auto;
  padding: 20px;
  margin: 20px 0 20px 0;
  border: 2px solid rgba(125,73,160, 0.6);
  border-radius: 10px;
}
.data-result p {
  color: #6f4be7;
  color: #700977;
  margin: 0px 0 10px 0;
  
}

.result-BMI {
  font-size: 27px;
  font-weight: 900;
  color: rgba(80, 11, 126, 0.8);
  margin: 0px 0 10px 0;

}
.notificationMessage {
  color: #8666F1;
  margin: 0px 0 10px 0;

}

.doctor-help {
  color: #8666F1;
  margin: 0px 0 10px 0;

}

