* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  color: #cba71d;
  justify-content: center;
  align-items: center;
}
.image-background-opacity {
  background-image: url(./usd-backGround.png);
  background-repeat: round;
  opacity: 1;
  z-index: 0;
}
.form-swap-money {
  margin-top: 100px;
  padding: 50px;
  width: 700px;
  border: 3px solid #8d93ab;
  border-radius: 6px;
  background-color: #fafde7;
  opacity: 0.9;
  z-index: 2;
  /* border: 1px dotted red; */
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
}

.Title {
  text-align: center;
  /* border: 1px dotted red; */
}
.dolla-icon {
    font-size: 60px;
    animation: rungrung 0.1 infinite;
}
@keyframes rungrung {
    25%  {transform: rotate(-10deg)}
    50%  {transform: rotate(10deg)}
    75%  {transform: rotate(-10deg)}
    100% {transform: rotate(10deg)}
}
.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  /* border: 1px dotted red; */
}

.from-input {
  /* border: 1px dotted red; */
  padding: 10px;
  background-color: rgb(209, 199, 199);
}

.form-title {
  text-align: center;
  margin: 6px 0px 10px 0px;
  font-size: 20px;
  color: rgb(175, 164, 2);
}

.moneyNumber {
  width: 200px;
  height: 30px;
  padding: 3px;
  display: block;
  outline: none;
  border: 1px solid #9f642d;
  transition: all 0.6s;
}

.moneyNumber:hover {
  outline: none;
  border: 1px solid #9f642d;
  box-shadow: 0 0 10px rgba(209, 147, 13, 0.6);
  transform: scale(1.01);
}
.moneyNumber:focus {
  outline: none;
  border: 1px solid #9f642d;
  box-shadow: 0 0 10px rgba(193, 100, 23, 0.6);
}

/* .Units {
  margin-top: 10px;
  width: 200px;
  height: 30px;
  padding: 3px;
  display: block;
  color: #393b44;
  border: 1px solid #393b44;
} */
.arrow-icon:hover {
  color: #393b44;
  transition: all 0.3s ease-in-out;
}

.buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* border: 1px solid red; */
  margin: 20px;
}

.button {
  width: 100%;
  height: auto;
  padding: 10px;
  font-weight: 600;
  background-color: #eef1f8;
  border: 2px solid #868ca4;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #9f642d;
  margin: 15px 0px;
  transition: all 0.5s;
}
.button:focus {
  outline: none;
}
.button:hover {
  transform: scale(1.02);
}

/* .swap-button {
  margin-right: 30px;
} */

.alert-Message {
  color: red;
  visibility: hidden;
}
