* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
div {
    /* border: 1px solid red; */
}
img {
    max-width: 100%;
    display: block;
    margin: auto;
}
.content-1 {
    width: 1250px; 
    height: 522px;
    margin: auto;
    margin-top: 45px;
    /* border: 1px solid red; */
}

.layout {
    margin-bottom: 50px;
    overflow: hidden;
}
.banner {
    width: 100%;
    height: auto;
    position: relative;
    margin: 14px 0px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    border-radius: 4px;
  
}
.banner img {
    width: 100%;
    display: block;
    margin: auto;
}
/* list-posts */
.list-posts {
    height: 94.5%;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.post {
    box-shadow: 0 1px 4px rgb(0 0 0 / 25%);
    border-radius: 4px;
    background-color: #fff;
    height: 21.5%;
    /* border: 1px solid red; */
}

.post-thumbnail {
    float: left;
    height: 100%;
    width: 105px;
}
.post-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.post-info {
    float: left;
    width: calc(100% - 110px);
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.post-title {
    color: #464646;
    text-align: left;
    font-size: 1rem;
}
.post-author {
    font-size: 0.8rem;
    color: #757575;
}


/* content-2 - intro  */
.content-2 {
    width: 1250px; 
    height: 300px;
    margin: auto;
    margin-top: 45px;
    /* border: 1px solid red; */
}

.list-intro{
    width: 100%;
    /* width: 1200px; */
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.intro {
    width: 100%;
    padding: 36px 0px;
    margin-top: 40px;
    float: left;
    text-align: center;
}
.intro-text {
    margin-top: 15px;
    color: #464646;
    font-size: 1rem;
}
.intro-description {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #999;
    width: 80%;
    margin: auto;
}
/* content-3 Các lộ trình chính */
.content-3 {
    width: 100%;
    height: auto;
    background-color: #E4F2FD;
    padding-bottom: 100px;
}

.route-content-heading {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #E4F2FD;
}
.route-content-heading h2 {
    font-weight: 500;
    font-size: 1.5rem !important;
    text-transform: uppercase;
    margin: 0;
    padding-top: 5rem;
}

.list-route-item {
    width: 1250px;
    height: auto;
    /* border: 1px solid red; */
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}
.router-item {
    width: 92%;
    height: auto;  
    margin: 0px 15px;
    margin-top: 70px;
    border-radius: 6px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}
.router-item:hover{
    box-shadow: 0 4px 4px rgb(0 0 0 / 50%);
}
.router-image {
    height: auto;
    object-fit: cover;
    position: relative;
    border-radius: 6px;
}
.router-image img {
    border-radius: 6px;
}
.route-description {
    padding: 1.4rem;
    float: left;
}

.route-title {
    margin: 0;
    font-weight: 500;
    font-size: 20.8px;
    text-align: left;
}

.route-detail {
    font-weight: 300;
    font-size: 16px;
    overflow: hidden;
    margin: 0px 0px 10px;
    text-align: left;
}
.route-session {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    color: #757575;
}
/* content-4 */
.content-4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    /* border: 1px solid red; */
}

.product-title {
    width: 1250px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
    font-size: 24px;
    font-family: Roboto,sans-serif;
    color: #464646;
    margin: 0 0 32px 0;
}

.list-product-student {
    width: 1250px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red;   */
}
.product-student {
    width: 32%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.product-infomation {
    height: 30%;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.product-Title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
}
.product-Description {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #5e5e5e;
} /* content-4 */

/* content-5 */
.content-5 {
    width: 100%;
    height: auto;
    background-color: #E4F2FD;
    /* border: 1px solid red; */
    padding: 50px 15px;
}

.video-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px 0 0;
}
.video-container iframe {
    width: 1220px;
    position: relative;
    height: 700px;
    border: none;
    border-radius: 8px 8px 0px 0px;
}

/* footer */
footer {
    width: 100%;
    height: auto;
    background-color: #464646;
}

.footer-contents {
    width: 1250px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -120px;
    padding: 48px 0px;;
}

.footer-Content {
    width: 80%;
    height: 305px;
    color: white;
    /* border: 1px solid red;  */
}
.footer-Content h4 {
    font-size: 19.2px;
    margin: 32px 0px 12px;

}
.footer-Content ul li{
    list-style: none;
}


.footer-title-content {
    margin: 32px 0px 12px;
}

.footer-title-detail {
    font-size: 14px;
    font-family: Roboto,sans-serif;
    color: #919294;
    line-height: 2.5;
}
.footer-title-detail a {
    color: #919294;
}
.footer-title-detail a:hover {
    color: #919294;
}

.social-network-links {
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px 0px 0px;
}
.social-network-icon i {
    width: 28px;
    height: 32px;
    /* border: 1px solid red; */
    font-size: 30px;
    margin: 0px 8px 0px 16px;
}

