/* * {
    border: 0.1px solid red;
    width: 10px;
    text-decoration: underline;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 400px;
    background-color: oldlace;
    display: flex;
    flex-direction: row;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;

    list-style-type: lower-alpha;
  
} */


/* div {
    width: 100px;
    height: 100px;
    animation-timing-function: ;
} */
