* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.container-fluid {
  padding: 0px;
}
body {
  background: rgba(246, 246, 246, 1);
}

/* style cho ô INPUT dùng chung  */
input {
  border: 1px solid rgba(208, 208, 208, 1);
  border-radius: 2px;
  padding: 8px 6px;
  transition: all 0.2s;
}
input:hover {
  box-shadow: 0px 0px 4px 0px rgba(208, 208, 208, 1);
}
input:focus {
  outline: none !important;
  box-shadow: 0px 0px 2px 0px rgba(208, 208, 208, 1);
}
input::placeholder {
  color: rgba(208, 208, 208, 0.8);
  font-size: 14px;
}

/* Filter-search */
.filters-search-container {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-gap: 20px;

  margin-top: 80px;
  padding: 0;
}
/* Input search */
.search-product-input {
  /* border: 1px solid red; */
  /* width: 100%; */
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  position: relative;
}
.search-product-input input {
  width: 400px;
}
.search-btn {
  /* border: 1px solid red; */
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 22px;
  padding: 6px;
  cursor: pointer;
}
/* Nút lọc theo giá */
.filters-container {
  /* border: 1px solid red; */
  width: 80%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  grid-gap: 20px;
}
.filter-btn {
  border: 1px solid rgba(196, 29, 78, 1);
  border-radius: 2px;
  padding: 8px 16px;
  color: rgba(196, 29, 78, 1);
  cursor: pointer;
  background: rgba(196, 29, 78, 0.1);
  width: auto;
  text-align: center;
  transition: all 0.3s ease;
}
.filter-btn:hover {
  background: rgba(196, 29, 78, 0.3);
}

/* Start products-container */
.products-container {
  /* border: 1px solid red; */
  border-radius: 2px;
  /* background: white; */
  margin-top: 20px;

  display: grid;
  justify-content: space-between;
  /* align-items: center; */
  grid-gap: 12px;
  padding: 8px 4px 12px 4px;
}
.product {
  border: 1px solid rgba(235, 235, 235, 1);
  background: white;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 12px 4px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  grid-gap: 12px;

  transition: all 0.3s ease;
}
.product:hover {
  border: 1px solid rgba(200, 200, 200, 1);
}
.product a {
  width: 100%;
  height: 100%;
}
.product-img {
  /* border: 1px solid red; */
  width: 100%;
  height: 250px;
  padding: 2px;
}
.product-img img {
  /* border: 1px solid red; */
  width: auto;
  height: 100%;
  transition: all 0.3s ease;
}
.product-img img:hover {
  /* transform: scale(1.05); */
  /* transform: translateY(-0.5px); */
  opacity: 0.8;
}

.product-description {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-gap: 4px;
}

.product-name {
  color: rgba(101, 18, 17, 1);
  height: 100%;
  font-size: 18px;
  font-weight: 700;
}
.product-price {
  color: rgba(255, 143, 2, 1);
}

.product-see-detail {
  border: 1px solid rgba(235, 235, 235, 1);
  border-radius: 2px;
  padding: 4px 20px;
  margin-top: 16px;
  transition: all 0.3s ease;
}
.product-see-detail:hover {
  border: 1px solid rgba(200, 200, 200, 1);
  background: rgba(200, 200, 200, 0.5);
}

.search-feedback {
  color: rgba(228, 35, 19, 1);
  margin-top: 2.25rem;
  padding: 0 1rem;
}

/* End products-container */

/* Start  */
/* End */

/* ****************************************8 */
/* Start Responsive by @Media same bootstrap */
/* X-Small LỀ 20px */
@media (max-width: 576px) {
  .filters-search-container {
    flex-direction: column;
  }
  .products-container {
    grid-template-columns: 1fr;
  }
  .filters-container {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .filter-btn {
    width: 100%;
  }
  .search-product-input {
    width: 100%;
  }
  .search-product-input input {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .filters-search-container {
    flex-direction: column;
  }
  .products-container {
    grid-template-columns: 1fr 1fr;
  }
  .filters-container {
    width: 100%;
    justify-content: space-between;
  }
  .search-product-input {
    width: 100%;
  }
  .search-product-input input {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .filters-search-container {
    flex-direction: column;
  }
  .filters-container {
    width: 100%;
    justify-content: space-between;
  }
  .search-product-input {
    width: 100%;
  }
  .search-product-input input {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .filters-search-container {
    flex-direction: row;
  }
  .products-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .filters-container {
    width: 90%;
    justify-content: space-between;
  }
  .search-product-input {
    width: 70%;
  }
  .search-product-input input {
    width: 400px;
  }
}

@media (min-width: 1200px) {
  .products-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .search-product-input {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .products-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
