* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body {
  margin: 0;
} */

h1,
h6 {
  text-align: center;
  color: rgb(178, 4, 213);
  margin-top: 1%;
  margin-bottom: 1%;
}

a {
  margin: 20px;
  text-decoration: none;
}
.container-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 15px 15px;


}
.buttons {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(212, 0, 255);
  border-radius: 10px;
  padding: 15px;
  background-color: #FCE5CD;
}
.button-link {
  width: 51%;
  height: 71%;
  border: none;
  border-radius: 10px;
  margin: 10px;
  color: red;
  background-color: rgba(212, 0, 255, 0.2);
}

/* Mobile first */
.container-box {

}

@media (min-width: 600px) {
  .container-box {
    grid-template-columns: auto auto auto;
    padding: 30px; 
    background-color: #D9EAD3;
  }
}


  /* display: grid;
  grid-template-columns:  auto auto auto auto auto ;
  grid-gap: 30px; */