* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  .container-fluid {
    padding: 0px;
  }
  body {
    background: rgba(246, 246, 246, 1);
  }
  
  /* style cho ô INPUT dùng chung  */
  input {
    border: 1px solid rgba(208, 208, 208, 1);
    border-radius: 2px;
    padding: 8px 6px;
    transition: all 0.2s;
  }
  input:hover {
    box-shadow: 0px 0px 4px 0px rgba(208, 208, 208, 1);
  }
  input:focus {
    outline: none !important;
    box-shadow: 0px 0px 2px 0px rgba(208, 208, 208, 1);
  }
  input::placeholder {
    color: rgba(208, 208, 208, 0.8);
    font-size: 14px;
  }

  /* Input search */
  .search-product-input {
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    position: relative;
  }
  .search-product-input input {
    width: 400px;

  }
  .search-btn {
    /* border: 1px solid red; */
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 22px;
    padding: 6px;
    cursor: pointer;
  }
  
  /* Start products-container */
  .products-container {
    /* border: 1px solid red; */
    border-radius: 2px;
    /* background: white; */
    margin-top: 20px;
  
    display: grid;
    justify-content: space-between;
    /* align-items: center; */
    grid-gap: 12px;
    padding: 8px 4px 12px 4px;
  }
  .product {
    border: 1px solid rgba(235, 235, 235, 1);
    background: white;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 12px 4px;
  
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    grid-gap: 12px;
  
    transition: all 0.3s ease;
  }
  .product:hover {
    border: 1px solid rgba(200, 200, 200, 1);
  }
  .product a {
    width: 100%;
  }
  .product-img {
    width: 100%;
    /* border: 1px solid red; */
  }
  .product-img img {
    width: 100%;
    transition: all 0.3s ease;
  }
  .product-img img:hover {
    /* transform: scale(1.05); */
    /* transform: translateY(-0.5px); */
    opacity: 0.8;
  }
  
  .product-description {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-gap: 4px;
  }
  
  .product-name {
      color: rgba(101,18,17, 1);
      height: 100%;
    font-size: 18px;
    font-weight: 700;
  }
  .product-price {
      color: rgba(255,143,2, 1);
  }
  
  .product-see-detail {
    border: 1px solid rgba(235, 235, 235, 1);
    border-radius: 2px;
    padding: 4px 20px;
    margin-top: 16px;
    transition: all 0.3s ease;
  }
  .product-see-detail:hover {
    border: 1px solid rgba(200, 200, 200, 1);
    background: rgba(200, 200, 200, 0.5);
  }
  
  /* End products-container */
  
  /* Start  */
  /* End */
  
  /* ****************************************8 */
  /* Start Responsive by @Media same bootstrap */
  /* X-Small LỀ 20px */
  @media (max-width: 576px) {
    .products-container {
      grid-template-columns: 1fr;
    }
    .search-product-input input {
      width: 100%;
    }
  }
  
  @media (min-width: 576px) {
    .products-container {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 768px) {
  }
  
  @media (min-width: 992px) {
    .products-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media (min-width: 1200px) {
    .products-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media (min-width: 1400px) {
    .products-container {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
  