body {
  width: 100%;
  padding: auto;
  margin: auto;
  box-sizing: border-box;
  border: 0.5px dotted red;
}

.container-center {
  /* width: 100%; */
  height: auto;
  border: 0.5px dotted red;
  /* display: flex; */
  /* flex-direction: row; */
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  margin-bottom: 5%;
  /* background-color: rgba(255, 255, 255, 0.707); */
  padding: 40px;
}
/* 1 */
.square-image {
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: #fff;
  transition: all 0.3s ease;
}
.square-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* padding: 5px; */
  border: 4px solid rgb(255, 255, 255);
}
.square-image:hover {
  transform: scale(1.4);
}
/* 2 */
.container-heath {
  /* width: 20%; */
  height: auto;
  margin: auto;
  padding: 80px 0;
}
/*  */
.heath-90hz {
  width: 300px;
  height: auto;
  position: relative;
  border-radius: 25px;
  /* animation: heartbeat 1.1s infinite; */
}
.heath-90hz {
  animation-name: heartbeat;
  animation-duration: 0.9s;
  /* animation-timing-function: cubic-bezier(0, 0.8, 0, 0.8); */
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  /* animation-fill-mode: ; */
  /* animation-play-state: ; */
}
@keyframes heartbeat {
  20% {
    transform: scale(1.2);
  }

  70% {
    transform: none;
  }

  80% {
    transform: scale(1.14);
  }
}
/* 2 */
/* 3 -Animated of Words */
.container-text {
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 1.5;
  padding: 80px 0;
  text-transform: uppercase;
  font-size: 50px;
  color: #35383a;
}
/* ........................................... */
.word-change::after {
  display: block;
  height: 100%;
  color: #ffffff;
  content: "Teaching";
  background-color: #c66312;
  animation: animated 1.4s infinite;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8), 0 -1px 1px rgba(0, 0, 0, 0.8);
}

@keyframes animated {
  0% {
    content: "Teaching";
    background-color: #5a3294;
    transform: scale(1);
  }

  40% {
    content: "Learning";
    background-color: #228a4c;
    transform: scale(1);
  }

  89% {
    transform: scale(0.2);
  }
  90% {
    content: "Coding";
    background-color: #e2811f;
    transform: scale(0);
    transform: translate(0px, -100%);
  }
  100% {
    content: "Coding";
    background-color: #e2811f;
    transform: scale(1);
  }
}
/* 3 */
