* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.Multi-level-menu-banner {
    width: 100%;
    height: auto;
    background-color: #e9d3da;
   
}

.Multi-level-menu {
    width: 20%;
    height: 344px;
    border: 1px solid red;
    margin-left: 20%;
    
}
/* ul */
.menu-list {
    position: relative;
    color: #828482;
}
.menu-list a {
    position: relative;
    color: #828482;
    text-decoration: none;
}
.sub-menu {
    position: absolute;
    padding-top: 20px;
    display: none;
}
.sub-menu li {
    color: #fff;
    background-color: gray;
    padding: 5px 10px 5px 10px;
    font-style: italic;
}
.menu-list li:hover .sub-menu {
    display: block;
}
