/* font Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* font Rubik */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Để nhìn tạm */
  /* color: #e82626; */
  /* background: #F8F9FC; */
}
a {
  text-decoration: none;
  cursor: pointer;
}
body {
  max-width: 1440px;
  background: rgba(248, 249, 252, 1);
  /* border: 0.1px dotted red; */
  margin: auto;
  /* che chắn cho khối Testimonials */
  /* overflow: hidden; */
  padding-bottom: 114px;
  overflow-x: hidden;
}

.container-header-back {
  /* border: 0.1px dotted rgb(0, 255, 51); */
  background: rgba(49, 58, 90, 1);
  display: flex;
  flex-direction: column;
}

.container-header {
  max-width: 1440px;
  margin: auto;
  margin-top: -26px;
  /* border: 0.1px dotted red; */
}

/* ----- Start Navigator mobile ----- */
.navigation-mobile {
  max-width: 1177px;
  height: auto;
  margin: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0px 6px;
  /* border: 0.1px dotted red; */
  /* ẩn ở màn destop */
  display: none;
}
.icon-menu-hiden-mobile {
  /* max-width: 72px; */
  padding: 10px 18px;
  background: rgba(233, 251, 243, 1);
  color: #5ed39c;
  mix-blend-mode: normal;
  opacity: 0.9;
  border-radius: 6px;
  transition: all 0.2s;
}
.icon-menu-hiden-mobile:hover {
  background: #5ed39c;
  color: rgba(233, 251, 243, 1);
}
.icon-menu-hiden-mobile:active {
  background: #5ed39c;
  color: rgb(33, 253, 4);
}
.logo-autocryp-mobile {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 58px;
  color: #ffffff;
}
.menu-infos-header-mobile {
  width: 97.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-gap: 10px;
  align-items: center;
  color: #1fdb84;
  background-color: rgba(233, 251, 243, 0.9);
  box-shadow: 0px -8px 34px rgb(31 219 132 / 60%);
  border-radius: 4px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  /* Vị trí tương đối cho menu mobile ẩn */
  position: absolute;
  top: 80px;
  left: 7px;
  z-index: 10;
  /* border: 0.1px dotted red; */
  display: none;
  padding-left: 18px;
}
.menu-infos-header-mobile a {
  color: #1fdb84;
}
.menu-infos-header-mobile a:hover {
  color: #18aa66;
}
.menu-infos-header-mobile a:active {
  color: #117948;
}
.info-header-mobile {
  width: 97%;
  padding: 10px 90% 10px 0%;
  border-bottom: 0.1px solid rgb(20, 138, 83);
}
.login-register-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.login-button-mobile,
.register-button-mobile {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.login-button-mobile {
  margin-right: 38.5px;
}
.register-button-mobile {
  background: #1fdb84;
  box-shadow: 0px 8px 34px rgba(31, 219, 132, 0.6);
  border-radius: 5px 0px;

  padding: 4px 24.5px 2px 26.5px;
}

/* ----- End Navigator mobile ----- */

/* ----- Start Navigator desktop ----- */
.navigation-desktop {
  max-width: 1177px;
  height: auto;
  margin: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 0.1px dotted red; */
}

.logo-autocryp {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 58px;
  color: #ffffff;
}
.menu-infos-header {
  max-width: 356.5px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 37px;
  align-items: center;
  /* border: 0.1px dotted red; */
}
.info-header {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
  transition: all 0.2s;
  /* border: 0.1px dotted red; */
}

.info-header:hover {
  color: #bdbdbd;
}

.login-register {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* border: 0.1px dotted red; */
}
.login-button,
.register-button {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
  transition: all 0.2s;
}

.login-button {
  margin-right: 38.5px;
}
.login-button:hover {
  color: #bdbdbd;
}
.register-button {
  background: #1fdb84;
  box-shadow: 0px 8px 34px rgba(31, 219, 132, 0.6);
  border-radius: 5px 0px;
  padding: 4px 24.5px 2px 26.5px;
}
.register-button:hover {
  background-color: #159b5d;
}
/* ----- End Navigator desktop ----- */

/* Start introduction + image*/
.infors-introduction {
  padding: 0px 169px 0px 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 0.1px dotted red; */
  align-items: start;
}
.infors {
  display: flex;
  flex-direction: column;
  /* border: 0.1px dotted red; */
}
.infor-intro-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
  color: #ffffff;
  margin: 153px 0 0 0;
  /* border: 0.1px dotted red; */
}

.infor-intro-depcription {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 32px;
  color: white;
  margin: 40px 0 0 0;
  padding-right: 21%;
  /* border: 0.1px dotted red; */
}
.head-button-get-start {
  max-width: 200px;
  /* max-height: 60px; */

  background: #1fdb84;
  box-shadow: 0px -8px 34px rgba(31, 219, 132, 0.6);
  border-radius: 0px 10px;
  /* transform: matrix(1, 0, 0, -1, 0, 0); */
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  padding: 19.5px 47px;
  margin: 55px 0 0 0;
  transition: all 0.2s;
}
.head-button-get-start:hover {
  background-color: #159b5d;
}
/* photo */
.photo-description {
  margin: 52px 0px 0px 124px;
}
/* End introduction + image*/

/* Start Benefit */
.benefit-container {
  max-width: 1300px;
  margin: auto;
  padding: 66px 79px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
  align-items: center;
  border-radius: 6px;
  background: #ffffff;
  border: 0.1px dotted #ffffff;
  /* Vị trí tương đối của khối benefit trượt lên trên headẻr */
  position: relative;
  top: -124px;
}
.benefit {
  max-width: 300px;
  /* tạm - set height để dóng ngang các div*/
  /* max-height: 282px; */
  background: #ffffff;
}
.benefit-img {
  max-width: 72px;
  padding: 19.2px 16px;
  background: rgba(233, 251, 243, 1);
  /* background: #1fdb84; */
  mix-blend-mode: normal;
  /* opacity: 0.1; */
  border-radius: 6px;
}
.benefit-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #031d5b;
  margin-top: 26px;
  background: inherit;
  /* border: 0.1px dotted red; */
}
.benefit-dash {
  margin-top: 29px;
  max-width: 60px;
  height: 4px;
  background: #1fdb84;
}
.benefit-description {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  color: #5b6c94;
  margin-top: 18px;
  background: inherit;
}
/* End Benefit */

/* Start Pricing-container */
.Pricing-container {
  max-width: 1130px;
  margin: auto;
  /* border: 0.1px dotted red; */
}
.pricing-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 64px;
  text-align: center;
  color: #32325c;
  margin: 0 160px;
  /* border: 0.1px dotted red; */
}
/*  */
.pricing-durations {
  max-width: 470px;
  margin: auto;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1px;
  align-items: center;
  /* border: 0.1px dotted red; */
  text-align: center;
  background: #aefdd9;
  border-radius: 5px;
}
.pricing-duration-month {
  /* height: 60px; */
  background: #ffffff;
  /* border: 1px solid #aefdd9; */
  border-radius: 5px 0px 0px 5px;

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #1fdb84;

  padding: 20.5px 36.5px;
  cursor: pointer;
  /* border: 0.1px dotted red; */
}
.pricing-duration-month:hover {
  box-shadow: 0px 8px 34px rgba(31, 219, 132, 0.6);
}
.pricing-duration-year {
  /* height: 60px; */
  background: #f1fff8;
  /* border: 1px solid #aefdd9; */
  border-radius: 0px 5px 5px 0px;

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #6fdeaa;

  padding: 20.5px 36.5px;
  cursor: pointer;
  /* border: 0.1px dotted red; */
}
.pricing-duration-year:hover {
  box-shadow: 0px 8px 34px rgba(31, 219, 132, 0.6);
}
/* Các gói lựa chọn */
.pricing-package-options {
  margin-top: 64px;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-gap: 46px;
  align-items: center;

  /* border: 0.1px dotted red; */
}
.pricing-package-option {
  /* border: 2px solid rgb(242, 192, 255); */
  border-top: 4px solid #f8f9fc;
  padding: 56.5px 0 56.5px 0;
  transition: all 0.1s;
}
.pricing-package-option:hover {
  border: none;
  border-top: 4px solid #0a8aff;
  background-color: white;
}
.pricing-option-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.266667px;
  color: #32325c;
}
.pricing-option-cost {
  margin-top: 31px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 64px;
  text-align: center;
  color: #1fdb84;
}
.pricing-option-per-time {
  margin-top: 13px;
}
.pricing-option-per-time,
.pricing-option-detail {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.177778px;
  color: #5b6c94;
}
.pricing-option-detail {
  margin-top: 60px;
}
.pricing-get-free-trial {
  background: #1fdb84;
  box-shadow: 0px 8px 34px rgba(31, 219, 132, 0.6);
  border-radius: 5px 0px;

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
  padding: 30.5px 46.5px;
  margin: 108px 37.5px 0px 37.5px;
}
.pricing-get-free-trial:hover {
  background-color: #159b5d;
}
/* End Pricing-container */

/* Start horizontal-menu-container */
.horizontal-menu-container {
  border: 0.1px dotted red;
  max-width: 1615px;
  display: flex;
  justify-content: space-between;
}

.horizontal-menu-title {
  border: 0.1px dotted rgb(13, 255, 0);
  background-image: url("../img/Group-5-autocrypt-landing-page.png");
  background-repeat: no-repeat;
  background-size: contain;
  /* ////////////////////////// */
  width: 376.14px;
  height: 413px;

  margin-right: 114.43px;
  margin-top: 30px;
}
.horizontal-menu-title-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #031d5b;
  position: relative;
  top: 40px;
  left: 23px;
}
/* menu ngang 1 */
.horizontal-menu {
  border: 0.1px dotted rgb(55, 0, 255);
  /* max-width: 806.01px; */
  max-width: 100%;
  background: #031d5b;
}
.slides {
  border: 0.1px dotted rgb(255, 166, 0);
  max-width: 1014.97px;
  display: flex;

  /* position: relative;
  top: 200px;
  right: 150px; */
}

.slide {
  width: 417.93px;
  height: 500px;

  background: #1fdb84;
  box-shadow: 12px 12px 40px rgba(31, 219, 132, 0.5);
  backdrop-filter: blur(27.1828px);
  border-radius: 6px;
}

/* End horizontal-menu-container */

/* Start partner-container */
.partner-container {
  max-width: 1057px;
  margin: auto;
  /* margin: 215px 0% 0px 0%; */
  margin-top: 215px;
  padding: 5%;
  /* border: 0.1px solid rgb(255, 47, 0); */
}
.partner-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  color: #031d5b;
}
/*  */
.partner-trademarks {
  max-width: 1057px;
  /* max-height: 50px; */
  margin-top: 46px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 51.2px;
  /* border: 0.1px dotted red; */
}
.trademark img {
  max-width: 100%;
}
/* End partner-containers */

/* Start Footer */
.footer-container {
  max-width: 1057px;
  margin: auto;
  margin-top: 180px;
  text-align: center;
  align-items: center;
  /* border: 0.1px dotted red; */
}

.footer-title-reserved,
.footer-titles {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #5b6c94;
  /* border: 0.1px dotted red; */
}
.footer-titles {
  margin-top: 50px;
  word-spacing: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}
.footer-titles a {
  text-decoration: none;
  color: #5b6c94;
}
.footer-title {
  /* border: 1px dotted red; */
}
/* End Footer*/

/* Start Responsive by @Media same bootstrap */

/* X-Small */
@media (max-width: 576px) {
  /* Hiện menu mobile-icon hambeger >576px */
  .navigation-mobile {
    display: block;
    display: flex;
  }
  /* Ẩn menu desktop */
  .navigation-desktop {
    display: none;
  }
  /* Tiêu đề header dịch padding trai nhỏ hơn*/
  .infors-introduction {
    padding: 0px 32px 188px 32px;
  }
  .infor-intro-title {
    margin: 60px 0 0 0;
  }
  /* Ảnh iphone ở header ẩn đi khi màn bé */
  .photo-description {
    display: none;
  }

  /* benefit container co lại 2 hàng */
  .benefit-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 100px;
    margin: 0% 5.5% 0% 5.5%;
  }

  /* Khối Pricing co 1 hàng bé chia đôi */
  .pricing-title {
    font-size: 25px;
    line-height: 40px;
  }
  .pricing-package-options {
    display: grid;
    grid-template-columns: 0.9fr;
    grid-gap: 25px;
    margin: 1% 0% 0% 8%;
  }
  /* khối horizontal-menu-title ẩn đi nhường menu ngang*/
  .horizontal-menu-title {
    display: none;
  }
  .horizontal-menu {
    margin: 0 0 0 4.5%;
  }
  /* Khối partner-container */
  .partner-trademarks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 51.2px;
  }
}

/* Small */
@media (min-width: 576px) {
  /* Hiện menu mobile-icon hambeger <=576px */
  .navigation-mobile {
    display: block;
    display: flex;
  }
  /* Ẩn menu desktop */
  .navigation-desktop {
    display: none;
  }
  /* Tiêu đề header dịch padding trai nhỏ hơn*/
  .infors-introduction {
    padding: 0px 32px 188px 32px;
  }
  .infor-intro-title {
    margin: 60px 0 0 0;
  }
  /* Ảnh iphone ở header ẩn đi khi màn bé */
  .photo-description {
    display: none;
  }
  /* benefit container co lại 2 hàng */
  .benefit-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    margin: 0px 5%;
  }

  /* Khối Pricing co 2 hàng bé chia đôi */
  .pricing-title {
    font-size: 25px;
    line-height: 40px;
  }
  .pricing-package-options {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 15px;
  }
  /* khối horizontal-menu-title ẩn đi nhường menu ngang*/
  .horizontal-menu-title {
    display: none;
  }
  .horizontal-menu {
    margin: 0 0 0 4.5%;
  }
  /* Khối partner-container */
  .partner-trademarks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 51.2px;
  }
}

/* Medium */
@media (min-width: 768px) {
  /* Ẩn menu mobile-icon hambeger (lơn hơn) <=768px */
  .navigation-mobile {
    display: block;
    display: none;
  }
  /* Tiêu đề header dịch padding trai nhỏ hơn*/
  .infors-introduction {
    padding: 0px 5% 188px 5%;
  }
  /* Hiện menu desktop flex lại, thêm padding */
  .navigation-desktop {
    display: block;
    display: flex;
    padding: 0px 5px;
  }
  /* Ảnh iphone ở header ẩn đi khi màn bé */
  .photo-description {
    display: none;
  }

  /* benefit container co lại 2 hàng */
  .benefit-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    margin: 0px 5%;
  }

  /* Khối Pricing co 2 hàng bé chia đôi */
  .pricing-package-options {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 25px;
  }
  /* khối horizontal-menu-title ẩn đi nhường menu ngang*/
  .horizontal-menu-title {
    display: none;
  }
  .horizontal-menu {
    margin: 0 0 0 4.5%;
  }
  /* Khối partner-container */
  .partner-trademarks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 51.2px;
  }
}
/* Large */
@media (min-width: 992px) {
  /* Hiện menu desktop flex lại, thêm padding */
  .navigation-desktop {
    display: block;
    display: flex;
    padding: 0px 5px;
  }
  /* Tiêu đề header dịch padding trai nhỏ hơn*/
  .infors-introduction {
    padding: 0px 5% 25px 5%;
  }
  /* Ảnh iphone ở header ẩn đi khi màn bé */
  .photo-description {
    display: block;
  }
  /* benefit container co lại 2 hàng */
  .benefit-container {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr;
    grid-gap: 100px;
    margin-right: 5%;
  }

  /* Khối Pricing co 2 hàng bé chia đôi */
  .pricing-package-options {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr;
    grid-gap: 25px;
  }
  /* khối horizontal-menu-title ẩn đi nhường menu ngang*/
  .horizontal-menu-title {
    display: block;
    margin-right: 57.215px;
  }
  .horizontal-menu-title-text {
    font-size: 20px;
  }
  .horizontal-menu {
    margin: 0 0 0 0;
  }
  /* Khối partner-container */
  .partner-trademarks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 51.2px;
  }
  /* Khối footer */
  .footer-container {
    margin-top: 120px;
  }
}
/* Extra large */
@media (min-width: 1200px) {
  .navigation-desktop {
    display: block;
    display: flex;
  }
  /* Tiêu đề header dịch padding trai nhỏ hơn*/
  .infors-introduction {
    padding: 0px 169px 0px 62px;
  }
  .infor-intro-title {
    margin: 147px 0 0 0;
  }

  /* benefit container co lại 3 hàng */
  .benefit-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;
    /* margin: 0% 6% 0% 0%; */
  }
  /* khối horizontal-menu-title ẩn đi nhường menu ngang*/
  .horizontal-menu-title {
    display: block;
    margin-right: 57.215px;
  }
  .horizontal-menu-title-text {
    font-size: 35px;
  }
  /* .horizontal-menu {
    margin: 0 0 0 0;
  } */
  /* Khối partner-container */
  .partner-trademarks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 51.2px;
  }
  /* Khối footer */
  .footer-container {
    margin-top: 130px;
  }
}
/* Extra extra large */
@media (min-width: 1400px) {
  .navigation-desktop {
    display: block;
    display: flex;
  }
  /* benefit container mặc định màn 1920 co lại 3 hàng */
  /* .horizontal-menu {
    margin: 0 0 0 0;
  } */
  /* Khối footer */
  .footer-container {
    margin-top: 150px;
  }
}

/* End Responsive by @Media same  bootstrap*/

/* Start */
/* End */
