* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-self: center;
    flex-direction: row;
    align-items: center;
    border: 1px solid red
}

.calc {
    width: 60%;
    height: 60%;
}