* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navigation {
    width: 100%;
    height: 60px;
    background-color: #34465C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* content - informations */
.container-information{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
}

.informations {
    width: 80em; /* Responsive */
    height: 100%;
    display:  flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid rgb(56, 150, 18);
    margin-top: 2em;
}

.information {
    width: 385px;
    height: 100%;
    /* border: 1px solid red; */
    margin: 1em;
    border-radius: 4px;
    box-shadow:  2px 2px rgb(0 0 0 / 25%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.information:hover {
    box-shadow:  3px 3px rgb(0 0 0 / 50%);
}
/* Information title */
.information-Title {
    width: 80em; /* Responsive */
    height: 100%;
    display:  flex;
    flex-direction: row;
    justify-content: start end;
    align-items: center;
    margin: auto;
    border: 1px solid rgb(56, 150, 18);
    margin-top: 2em;
}
.title-item {
    width: auto;
    height: auto;
    font-size: 60px;
}
/* Image */
.router-image {
    width: auto;
    height: auto;
    object-fit: cover;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.router-image  {
    width: 100%;
    height: 260px;
    border-radius: 6px;
    transition: all 1s;

}
/* Detail */
.information-Detail {
    width: 80em; /* Responsive */
    height: 100%;
    display:  flex;
    flex-direction: row;
    justify-content: start end;
    align-items: center;
    margin: auto;
    border: 1px solid rgb(56, 150, 18);
    margin-top: 2em;
}
/* back-home */
.back-home {
    width: 8em;
    height: 4em;
    background-color: rgba(44, 125, 240, 0.1);
    color: white;
    font-weight: 800;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -4px;
    right: 60px;
    text-decoration: none;
}
.back-home:hover {
    background-color: rgba(44, 125, 240, 0.6);
}
.back-home a {
    text-decoration: none;
    color: white;
    font-size: 20px;
   
}