* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navigation {
    width: 100%;
    height: 60px;
    background-color: #34465C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.header {
    margin: 20px auto 30px;
    text-align: center;
}
.title {
    font-family: "Annie Use Your Telescope", cursive;
    font-size: 70px;
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-align: center;
}
.slogan {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    color: #979797;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.container-information{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
}

.logo {
    width: 150px;
    height: 33.58px;
    color: white;
    font-size: 20px;
    font-weight: 800;
    margin-left: 2%;
    padding: 0.3em 0em;
    text-decoration: none;
}
.logo a {
    text-decoration: none;
    color: white;
}
/* content - informations */
.informations {
    width: auto; /* Responsive */
    height: 100%;
    display:  flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* border: 1px solid rgb(56, 150, 18); */
    margin-top: -1em;
}

.informations2 {
    width: auto; /* Responsive */
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* border: 1px solid rgb(56, 150, 18); */
    margin-top: -1em;

}

.information {
    width: 330px;
    height: auto;
    /* border: 1px solid red; */
    margin: 20px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    text-align: center;

}

.router-image {
    width: auto;
    height: auto;
    object-fit: cover;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    z-index: 1;
}
.router-image img {
    /* border: 1px solid red; */
    width: 98%;
    height: 260px;
    object-fit: cover;
    z-index: 0;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%), 0 -1px 3px rgb(0 0 0 / 20%);
    transition: all 0.7s ease-in-out;
    
}
.router-image img:hover {
    transform: scale(1.1)
}

.route-title {
    padding: 1.4rem;
    float: left;
    font-size: 20px;
    font-weight: 800;
    /* border: 1px solid red; */
    text-align: center;
    transition: all 1s;
    z-index: 5;
    letter-spacing: 2px;
    
    position: absolute;
    top: 38%;
    /* left: 16%; */
    background-color: rgba(242, 232, 232, 0.6)
}
.route-title:hover {
    transform: scale(1.2);
    color: rgba(226, 51, 212, 0.2);
    background-color: rgba(242, 232, 232, 0.1);
}

.back-home {
    width: 8em;
    height: 4em;
    background-color: rgba(44, 125, 240, 0.1);
    color: white;
    font-weight: 800;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 60px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.back-home:hover {
    background-color: rgba(44, 125, 240, 0.6);
}
