@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto,sans-serif;
    line-height: 1.5;
}
body {
    background-color: #F1F0F1;
}
header {
    width: 100%;
    height: auto;
    background-color: #ed1c24; 
}
.container {
    width: 1280px;
    margin: auto;
    padding: 0 !important;
}
.navigator {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
/* logo */
.logo {
    width: auto;
}
.logo img {
    width: auto;
    height: 60px;
    /* margin: 5px; */
    margin-top: 9px;
    border-radius: 4px;
}
/* menu */
.search {
    margin-left: 5%;
    width: 75%;
}
.search-input {
    width: 95%;
    height: 50px;
    border: 1px dotted white;
    margin-left: 1.5%;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
}
.search-icon {
    width: 58px;
    height: 43px;
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 26px;
    color: #ED1C24;
    font-weight: 600;
    border-radius: 10%;
    padding: 9px 0 0 14px
}
.search-icon:hover {
    transform: scale(1.1);
}
/* Login */
.dangNhap-dangKi {
    width: 120px;
    height: 60px;
    /* border: 0.5px dotted #f7edee; */
    margin-right: 0% !important;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 9px 0;
}
/* cart */
.cart {
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* border: 1px dotted white; */
    margin-right: 22px;
    font-size: 25px;
    position: relative;
}
.cart p {
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 39px;
    font-size: 13px;
    color: rgb(240 222 241);
}
/* avatar */
.avatar {
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 20px;
}
.bell {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    background-color: #ED1C24;
    border-radius: 50%;
    padding: 1%;
    margin: 0 0 0 -20px;
    text-decoration-line: none;
    animation: ring-bell 1.4s infinite;
}
.bell:hover {
    transform: scale(1.2);
}
@keyframes ring-bell {
    25%  {transform: rotate(-10deg)}
    50%  {transform: rotate(10deg)}
    75%  {transform: rotate(-10deg)}
    100% {transform: rotate(10deg)}
}
.arrow-up {
    position: fixed;
    width: 57px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    bottom: 100px;
    color: white;
    font-size: 35px;
    font-weight: 100;
    background-color: #ED1C24;
    border-radius: 50%;
    padding-top: -4px;
    text-decoration-line: none;
    transition: all 0.1s ;
}
.arrow-up:hover {
    transform: scale(1.1);
}
/* Navigation-Bar */
.Navigation-Bar {
    width: 100%;
    height: 28px;
    /* height: 80px; */
    background-color: #F1F0F1;
    border: 1px solid #BBBABB;
    
}
.menu-infomations {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px; */
}
.menu-items {
    color: #1F1F1F;
    font-size-adjust: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu-items i {
    font-size: 18px;
    font-weight: 600;
}
.menu-items p{
    margin-left: 8px;
}
.infomations-contact {
    width: auto;
    height: 28px;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
.infomations-contact p {
    display: inline-block;
    width: 800x;
    padding: 0 7px;
}


/* Navigation-Bar */
.banner {
    width: 100%;
    height: 425px;
    margin-bottom: 10px;
    margin: 4px 0 0 0;
    background-position: center; 
}
.banner-image {
    width: 100%;
    height: 100%;
    background-image: url(https://lh3.googleusercontent.com/aQmCtdbHhXxl8sYlkdK-QWHRHEMXRRAyzkco5zPtLKHiHIbnrEtAHBYmjesRVRvQ4MC3p4PdaeaWCZQ3w2QjxgFAtF9XSYTKmA=w1180);
    margin: auto;
    /* position: relative; */
    overflow: hidden;
    background-repeat: round;
}
/* content all */
.title-items {
    font-weight: 500!important;
    color: #f44336!important;
    caret-color: #f44336!important;
    /* font-size: 29px; */
    margin: 30px 0 0 10px;
}
.container-content {
    width: 100%;
    height: auto;
    border-radius: 4px;
    background-color: #FFFFFF;
    margin: 10px 0;
    padding-bottom: 25px;
}
.items {
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
    overflow: hidden;
    list-style: none;
    z-index: 1;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
}
.item {
    width: 99%;
    height: auto;
    padding: 20px;
    margin: 1px 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    transition: all 0.4s;
    /* border: 1px dotted red; */
}
::selection {
    background-color:rgb(230, 193, 195);
}
.item:hover {
    box-shadow: 0 0 5px 0 hsl(0deg 100% 61% / 60%);
    transform: scale(1.01)
}
.image-item {
    width: 98%;
    height: 55%;
    overflow: hidden;
}
.image-item img {
    width: 100%;
    height: auto;
    transition: all 0.2s;
}
.image-item img:hover {
    width: 101%;
    opacity: 0.5;
}

.product-name {
    width: 100%;
    /* height: auto; */
    color: #333333;
    height: 44px;
    margin: 10px 0px 0px 30px;
    word-break: break-word;
    font-size: 14px;
}
.product-name:hover {
   font-weight: 600;
   color:rgb(237, 28, 36);
}
.price-label {
    width: 100%;
    height: auto;
    /* border: 1px dotted red; */
    margin: 10px 0 0 30px;
    word-break: break-word;
}
.promotion-price {
    font-weight: 700!important;
    margin: 2px 0;
}
.listed-price {
    text-decoration: line-through;
    font-size: 12px !important;
    margin: 3px 0;
}
.percent-discount {
    width: 42px;
    height: 24px;
    background-color: #D42333;
    color: white;
    position: absolute;
    top: 20px;
    left: 7%;
    margin: 0 10px 0 0;
    padding: 5.5px 4px 4px 8px;
    font-size: 12px;
    border-radius: 0 0 4px 4px;
}

.button-add-to-cart {
    width: 140%;
    height: 36px;
    background-color: rgb(237, 28, 36);
    color: #fff;
    padding: 0px 16px;
    text-align: center;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    margin: 10px 0px;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: -19.5%;
 
}
.button-add-to-cart:active {
    transform: scale(1.05);
    border: none;
}
.show-all {
    width: 200px;
    height: 36px;
    margin-top: 25px;
    margin-left: 42.5%;
    background-color: white;
    border: 1px solid #BD1B1B;
    color: #BD1B1B;
    font-weight: 500;
}

/* footer */
.container-footer {
    width: 100%;
    height: auto;
    /* để tạm height */
    border-radius: 4px;
    background-color: #2C2C2C;
    margin: 10px 0;
    padding:  3% 0;
}
.footer-items {
    width: 1280px;
    height: 100%;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-item {
    width: 100%;
    height: auto;
}   

.image-profile {
    width: 100%;
    height: auto;
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
}
.image-profile img{
    margin: auto;
    /* border: 1px dotted red; */
}
.title-introduce {
    color: #8B8B8B;
    margin: 0 0 5px 0;
}
.personal-information {
    width: 100%;
    height: 327px;
    padding: 6px;
    color: white;
}
.personal-information a {
    color: #ED1C24;
    text-decoration: none;
}
.personal-information p {
    margin-left: 4px;
}

.khai-bao-boCongThuong {
    width: auto;
}
.khai-bao-boCongThuong img {
    width: auto;
    height: 60px;
    /* margin: 5px; */
    margin-top: 9px;
    border-radius: 4px;
}
#logo-footer {
    width: 200px;
    height: auto;
    margin: 0 0 10px 20px;
}